[2020-06-18 19:55] laurensvalk opened #1 "Mac compatibility"
We use Bleak as a cross-platform BLE package, but we seem to be experiencing this:

https://github.com/hbldh/bleak/issues/206

I don't have a Mac so I'm not able to debug at this time - thanks @JanderII for raising this one.

[2020-06-21 12:40] GianCann opened #9 "[Question] pybricksdev Compile script error"
I tried this example [explained here](https://github.com/pybricks/pybricksdev/tree/master#compiling-pybricks-micropython-programs-without-running) and I get **unrecognized arguments** error:

[code]

Without the `print("world!");` part, It works

[code]

Why?

[2020-06-22 15:33] dlech opened #2 "Windows compatibility"
See https://github.com/pybricks/support/issues/64

[2020-06-22 19:23] dlech opened #3 "install with pipx"
[pipx](https://pipxproject.github.io/pipx/) is a nice way to install Python command line tools. It should be considerably simpler for those that just want to use `pybricksdev` from the command line.

Keeping notes here until we have a reasonable understanding of how it works, then we can update README, etc.

# Install

## Ubuntu

    sudo apt install pipx
    pipx install --spec=git+https://github

[2020-06-22 23:00] dlech opened #4 "Is jupyter really a depedency?"
I don't see anywhere we are actually using it directly and it seems like a rather large dependency to force on people who may want to use the library or the command line tool but not use jupyter.

[2020-06-22 23:25] dlech commented on #4
Once we publish packages on PyPi, it should be possible to add a cell to a jupyter notebook to install the Pybricks dependencies.

[code]

Then people can run `jupyter notebook` without having to install poetry or clone this repo.

[2020-06-23 00:37] dlech commented on #4
Perhaps even better is to have a one-time setup to create a virtual environment and install it as a jupyter kernel.

[code]

Then a juptyer notebook can be started by any means (e.g. using system jupyter on Ubuntu + VS Code with Python extension). The pybricks kernel just needs to be selected in the notebook and everything works, including code completion.

This also has the advantage that if some

[2020-06-23 08:18] laurensvalk commented on #4
Yes we are. It’s not only where most of the development is done, but also where all the examples will be. For now, there is just the one notebook in the demo folder.

Jupyter is excellent for this because you don’t even have to make or call async loops. You can simply do this in a cell and run it:

await hub.run(my_file)

And you can even run it again without having to connect again, because the c

[2020-06-23 13:41] dlech commented on #4
Don't worry about this too much yet. I'm still learning how it all works. :smile:

[2020-06-26 15:17] dlech commented on #4
It looks like `jupyter` is a meta package that is never updated (and so doesn't give us any control over the version of its dependencies). The packages we are actually using are `notebook` an `ipykernel`.

[2020-06-29 13:10] laurensvalk opened #5 "Fix Python version"
Recently the Python requirement was reduced to 3.6, and yet 3.8 features were used, like `importlib`.

We might want to fix the Python version or place an upper limit so we don't use features that don't actually exist in the versions that are supposed to work, or resolve it some other way.

This package is currently broken on Ubuntu 18.04, for example.

[2020-06-29 13:13] GianCann commented on #5
I'm trying to configure a new virtualbox with Ubuntu 18.04 to use pybricksdev (the BLE flashing procedure doesn't work on Windows) but I'm going crazy with the various versions of python...

[2020-06-29 13:20] dlech commented on #5
I have read that pythonnet (needed for bleak on Windows) now works on Python 3.8. So it should be OK to make 3.8 the minimum (and maximum) requirement. `~3.8` should do the trick.

BlueZ on Ubuntu 18.04 is too old anyway, so we probably don't want to support that.

[2020-06-29 16:30] GianCann opened #6 "[Report] Flashing CityHub successful"
After some problems in setting up the work environment, I managed to compile and load the firmware for the CityHub.

The working environment is Ubuntu 18.04, running in Virtualbox on Windows 10.

I noticed that pairing with code.pybricks.com does not happen if the Hub has a connected device.
You have to do the pairing first, and then connect the motor.

[2020-06-30 21:10] dlech commented on #5
Also need to update to `bleak` `~0.7` at the same time.

[2020-07-01 13:22] laurensvalk commented on #5
Done in https://github.com/pybricks/pybricksdev/commit/3f3380224932d5d74e9958d28169cd845b46bc45

[2020-07-01 13:22] #5 closed

[2020-07-01 13:53] laurensvalk commented on #2
Confirmed, I'll look into it.

The good news is that the (slow) `discover` does work, so we can look how it works internally or just use a finite time search.

[2020-07-01 14:07] laurensvalk commented on #2
Besides discovery, there's this. We could just drop this feature since we can probably live without it a callback on server disconnect:

[code]

[2020-07-01 14:09] laurensvalk commented on #2
Skipping those, downloading and run also works with Python 3.8 and bleak 0.7, which is cool.

I'll assign this to me to clean up the Windows part.

[2020-07-01 14:36] laurensvalk commented on #2
Found the cause and a patch -  'get_discovered_devices' and `discover` in bleak are almost identical but there's one tiny mismatch. I'll look into some more detail later and we might be able to submit the patch.

@dlech , is there anything on the master branch of our `bleak` fork left that we need to keep? Else I'll just force push their new master and apply the patch.

[2020-07-01 14:44] dlech commented on #2
Please rename our current master branch so we don't lose it. Call it `0.6.x-fixes` or something like that.

[2020-07-01 14:45] laurensvalk commented on #2
ack

[2020-07-01 15:51] dlech commented on #2
Another aspect of Windows support is that CTRL+C is handled differently (if I am remembering correctly). https://github.com/pybricks/support/issues/78

[2020-07-01 17:36] laurensvalk commented on #2
Downloading and running should be working on windows now - fw update not yet. After erasing flash successfully it fails to start writing the data (unreachable).

[2020-07-01 17:49] GianCann commented on #2
@laurensvalk I managed to load the firmware from Windows, without problems.
I only commented on the line relative to disconnection callback function, and matched the discovery with the Bluetooth address instead of name.

[2020-07-01 17:55] laurensvalk commented on #2
Those parts work for me too. But one Windows is not all Windows.

[2020-07-01 18:08] laurensvalk commented on #2
Windows doesn't seem very self confident. It thinks it is unable to send the erase message when it did so just fine. The firmware is indeed erased and the light turns off, but Windows does not proceed:

[code]
Then it freezes and after a while goes:

[code]

expected

[code]

[2020-07-01 21:16] pivan76 opened #7 "From zero to flashed, complete instructions for Ubuntu"
@dlech , as someone may get stuck, here and there, I've prepared a bit more detailed walk-through for your convenience to flash a Control+ Hub with a freshly built firmware, the complete workflow in a single place.

Enjoy!

[code]
edit  ~/.bashrc so that last lines are:

[code]
Then restart your terminal or, just issue:

`exec "$SHELL"`

Clone the code base to build the firmware you'll upload, if

[2020-07-07 16:14] #4 closed

[2020-08-20 21:24] laurensvalk commented on #1
This has been solved.

[2020-08-20 21:24] #1 closed

[2020-09-03 17:32] laurensvalk opened #8 "Multi-hub firmware download option"
It's easy to miss minor differences between hubs, see e.g. [this one](https://github.com/pybricks/pybricks-micropython/issues/16).

This issue is to add a convenient command line option that will simply update all Pybricks Hubs in the neighborhood, even those not in bootloader mode already.

It is intended for developers, so instead of a `zip` path it will just require the path to `pybricks-microp

[2020-10-09 09:36] laurensvalk commented on #9
The thing to do here is to update the README file.

[2020-10-16 11:09] laurensvalk opened #10 "Building DFU does not work if build folder does not exist"
We need to make a build folder if it does not exist already.

[2020-10-23 07:29] laurensvalk commented on #10
Fixed by https://github.com/pybricks/pybricksdev/commit/92f31e50360b0bc21f746b95832b6a77a64b9a40

[2020-10-23 07:29] #10 closed

[2020-11-21 11:18] #9 closed

[2020-11-21 11:20] laurensvalk commented on #9
Thanks @GianCann , you've been a big help to the project. We will miss you and your enthusiasm.

[2020-11-21 11:26] laurensvalk opened #11 "Allow Python > 3.8"
We currently require `python = "~3.8"`, so users with 3.9 have to install `pyenv`.

@dlech , I think we did this due to a limitation in `bleak` at the time. Do you know if this has been resolved?

[2020-11-21 16:00] dlech commented on #11
No, it hasn't been resolved yet.

[2020-12-02 13:22] laurensvalk opened #12 "DFU restore is broken"
The device is currently specified [like this](https://github.com/pybricks/pybricksdev/blob/fd7469ac9bbacf79427b8f954593e096f2d63953/pybricksdev/dfu.py#L109):

[code]

which does not seem to work on Ubuntu.

It does work when simply doing:

``
SPIKE_PRIME_DEVICE
``

[2020-12-02 13:25] laurensvalk opened #13 "DFU restore via pydfu was removed"
It currently says
[code]
even though it was implemented before. This may have been accidental as `pydfu` still seems to be used for flashing.

We could leave it like that if we fix #12 .

[2021-01-29 13:07] laurensvalk opened #14 "Testers wanted for new dual-boot script"
We are considering a few ways to improve the Pybricks installer for SPIKE Prime and MINDSTORMS Robot Inventor. Ultimately, we'd like to provide something in [Pybricks Code](https://www.code.pybricks.com/). One promising solution seems to be web serial, which lets us talk to the hub via the USB cable.

Before we add it to the app, we're doing some tests in `pybricksdev`. This helps us test at least

[2021-01-29 17:51] JorgePe commented on #14
Working fine in Ubuntu Linux
I previously added a udev rule, not sure if it was needed. Dmesg regognized the 51515 hub, pybricks dev worked with no problems:
[code]
First time I connected with Chrome I tried REPL and could not write anything. Power off, power on again and REPL is fine.
Light example also working.
It feels so... clean. Thanks a lot!

[2021-01-29 18:04] laurensvalk commented on #14
A backup file has also been created on your local folder. Just because 😄

[2021-01-29 18:07] JorgePe commented on #14
'firmware-v1.0.06.0034-b0c335b.bin'
the name has any meaning? I mean, can I store this files and relate to them for a specific LEGO firmware version?

[2021-01-29 18:11] laurensvalk commented on #14
It is the version reported by the stock firmware. Not sure what it means exactly, but higher is probably newer 😄

You could use it to [restore the stock firmware](https://dfu.pybricks.com/) if you ever get tired of pybricks or dual boot for some reason.

[2021-01-29 18:22] JorgePe commented on #14
I was more thinking on keeping my own collection of stock firmwares in case 4 or 5 years in the future the LEGO App ii withdraw.

[2021-01-29 18:31] BertLindeman commented on #14
@laurensvalk Assumed that you meant the standard LEGO firmware with

trying to get pybricksdev installed on windows did not succeed on my PC.

So switching to Linux Mint 20.1 as these things are so much easier there..

First attempt failed:
[code]
10th pixel was 3/4 lit.

**retry**
[code]

Auto reboot - OK

Boot into pybricks: `hub initiated ('primehub', '3.0.0b1', 'v3.0.0b1-6-g9fc79e68 on 2021-01

[2021-01-29 20:09] laurensvalk commented on #14
Thanks for trying it as well. There should probably be some more error checking :)

The good news is that the real update doesn’t really start until the upload is successful, so there isn’t much that can go wrong, and trying again should work without restarts, so we can implement that as well.

[2021-01-29 20:58] HeyLlama commented on #14
Detected firmware:
{'size': 557056, 'version': 'v1.0.06.0034-b0c335b', 'checksum': 1231192444, 'boot_vector': b'\xc9Z\x08\x08'}
Backing up 557056 bytes of original firmware. Progress:
Backup complete

Preparing external flash.
Writing firmware. Progress:
Done! Verifying firmware.
Download succeeded. Rebooting now...

Can confirm dual boot and everything work as expected ;D

[2021-01-29 23:19] BertLindeman commented on #14
Not SURE if poetry pyenv etc is correctly installed on my win10 PC, . . . .

Python3 on my PC is 3.9 but I did `pyenv local 3.8.2` here, and poetry does not complain about that.
But I think it's strange to see python39 in the messages:
[code]

Console log (have split the first line for readability):
[code]

This goes much further than my rudimentary knowledge of python ;-)

[2021-01-29 23:24] dlech commented on #14
I don't recommend using `pyenv` on windows. The default installer comes with the Python Launcher for Windows which makes things easier.

Assuming the launcher is installed, you can run `py --list-paths` to see the full paths of all installed Python versions. Then use `poetry env` to set the Python path for Poetry to the path to the 3.8.x install.

[2021-01-29 23:27] dlech commented on #14
You can also run `poetry env info` to see what Poetry is currently using.

[2021-01-30 07:05] johnscary-ev3 commented on #14
@laurensvalk
I tried this on my Win 10 PC which has Python 3.8 and previous version of pybricksdev installed. So I used the "update" option.
At first the "poetry install" step failed, but then I recalled having to remove .venv directory and poetry.lock file first.
After doing that, the poetry install worked, and then I was able to install the hub firmware using the command you gave and USB connect

[2021-01-30 07:47] BertLindeman commented on #14
Thanks, David.
That helps to get rid of the python39 part. So a more consistent environment.
Now onto the post of  @johnscary-ev3

[2021-01-30 08:04] laurensvalk commented on #14
Thanks everyone for your quick responses! So it looks like we’ve got it working on Linux, Mac, and Windows, and for several hubs as well. That’s what I was after, thanks!

Don’t worry about poetry on Windows for this Bert - if it was working on Linux for you then that’s fine.

This was more about getting some feeling for whether this installation approach is a good idea. Both technically and the u

[2021-01-30 08:15] BertLindeman commented on #14
Thanks, Laurens, I will not worry about poetry.
So, awaiting the next test situation ;-)

[2021-02-02 21:24] laurensvalk commented on #14
Can I make another request? :smile:

It's nothing much yet, but can you test that you are able to connect and toggle the lights of the hub using this page?

https://beta.pybricks.com/

Make sure USB is connected and you are booted into the stock firmware.

[2021-02-02 21:51] BertLindeman commented on #14
naughty: Hi hi Laurens, you just **did** 😃 end-naughty

Sure, will look into it tomorrow.

[2021-02-02 22:05] johnscary-ev3 commented on #14
@laurensvalk
This worked on my Win 10 PC, but first I had to Enable this Chrome Flags setting:

[code]

[2021-02-02 22:10] BertLindeman commented on #14
Sorry, Laurens, I cannot keep my promise...
Curiosity took over...

Just tested (win10 - MSEDGE)
MSedge  did not need any experimental setting

Saw this:
![image](https://user-images.githubusercontent.com/8142081/106668576-b7f40380-65aa-11eb-971d-7e8a984107ee.png)

**And Light-switch works**
:smile:

[2021-02-02 22:31] laurensvalk commented on #14
Thanks both for the quick response.

And good to know about Microsoft Edge too, thanks for trying!

[2021-02-02 22:41] johnscary-ev3 commented on #14
On my win 10 using Edge I got this error which is why I tried Chrome:

![image](https://user-images.githubusercontent.com/62860364/106672052-4d1fd980-6564-11eb-8b63-9cf359448b66.png)

[2021-02-02 22:50] BertLindeman commented on #14
My previous post was using the Spikehub
On MSEDGE Versie 88.0.705.56 (Officiële build) (64-bits)
The `enable-experimental-web-platform-features`
were already enabled, via `edge://flags/`

**Complication**

Now trying to do the same with the inventorhub does not succeed.
Also tried on Chrome (enabled `enable-experimental-web-platform-features`)
- web page comes up ok.
- plug in USB - hub auto boots

[2021-02-02 23:05] BertLindeman commented on #14
Hmm, the inventor app does not connect too via USB . . . . . .

Going to debug that first

[2021-02-03 08:19] JorgePe commented on #14
Chrome Version 88.0.4324.96 (Official Build) (64-bit) on Ubuntu working with 51515 Robot Inventor hub

[2021-02-03 12:07] laurensvalk commented on #14
@BertLindeman, I have that problem also sometimes.

But I've always had this with the SPIKE/Inventor hub for some reason, causing even a `screen` terminal not to work, or the regular app. When things do connect, I've also sometimes noticed the hub spitting out a few characters within the first couple of minutes after boot.

I have not yet investigated what that is, but it doesn't seem related to t

[2021-02-03 12:14] laurensvalk commented on #14
@BertLindeman

Assuming you already have the pybricks udev rules, try adding these too:

[code]

I found them [here](https://forum.micropython.org/viewtopic.php?t=1287), and things started working afterward. @dlech may be able to chime in to say which of these is really needed and which is not.

[2021-02-03 12:34] BertLindeman commented on #14
Most of the time I use windows as it's almost constantly within reach.
AND I forgot to say so in the post above. Sorry  :smile:
Will wait for response of @dlech and may then add them to my Linux Mint system.
Thank you.

[2021-02-03 16:15] dlech commented on #14
This one makes sense.

Does it still work if we leave this one out?

This should already be taken care of if the user is in the `dialout` group, but I suppose it wouldn't hurt to add it. Although I would probably use the more generic `SUBSYSTEMS=="tty"` instead of `KERNEL=="ttyACM*"`.

[2021-02-06 08:45] laurensvalk commented on #14
If anyone is feeling adventurous, there's a bit more to [test now](https://beta.pybricks.com/).... :rocket:

[2021-02-06 09:15] BertLindeman commented on #14
Early experience on win10 + MSEDGE:

![image](https://user-images.githubusercontent.com/8142081/107114029-24992780-6863-11eb-851e-18b744f76198.png)

No indication of ```LEGO Technic Large Hub in FS mode``` see the screenshot above.

Next after selecting a firmware zip file the butInstall is not enabled, see below:

![image](https://user-images.githubusercontent.com/8142081/107114164-30d1b480-6864-

[2021-02-06 09:22] BertLindeman commented on #14
Looks like it is possible to connect the hub from more than one browser.
Or even from more than one tab in a browser.

But that is at this stage not of interest I think.

[2021-02-06 09:38] BertLindeman commented on #14
@laurensvalk  do we need the dual-boot zip file for this, **not** a recent firmware zip?

[2021-02-06 09:48] laurensvalk commented on #14
Any fairly recent zip should work. Also make sure that you boot into the standard firmware to try this.

[2021-02-06 10:12] BertLindeman commented on #14
Used
[code]

This contains the `"firmware-dual-boot-base.bin"` that the script wants. I think.

Another possibility is the file type?
From the console - text copy:
[code]
type reported here `application/x-zip-compressed` the script looks for `application/zip`

[2021-02-06 10:19] BertLindeman commented on #14
If the hub is OFF and you plug-in USB. the hub automatically boots LEGO firmware.
A handy feature :smile:

[2021-02-06 12:08] laurensvalk commented on #14
Yes, that’s the right file.

[2021-02-06 18:17] BertLindeman commented on #14
Ran the test on Linux Mint - OK

- had to add my user to the `dialout` group and restart the session to allow the use of /dev/ttyACM1
- saw the LEGO? firmware downloaded as  ```firmware-backup-v1.0.06.0034-b0c335.bin```
- auto-reboot OK
- LEGO boot OK
- Pybricks boot OK

So no problem on Linux Mint 20.1

[2021-02-12 14:45] laurensvalk commented on #14
@BertLindeman, the issue on Windows might be resolved now.

[2021-02-12 15:30] BertLindeman commented on #14
Win10  - MS Edge Versie 88.0.705.63 (Officiële build) (64-bits)
Firmware update to Spike prime hub.

[code]

Could not copy the messages as text, so as a screenshot:

![image](https://user-images.githubusercontent.com/8142081/107786657-73a4f800-6d4e-11eb-9411-89a68dfd6b35.png)

Took USB out and rebooted the hub. The hub neatly flashes red-green-blue and reboots ok.
Firmware reported as
[code]

Wil

[2021-02-12 15:36] laurensvalk commented on #14
Should be fixed now. Maybe do a hard refresh (CTRL+F5) to make sure you have the latest version of the page.

[2021-02-12 15:41] BertLindeman commented on #14
After click on `connect`  MSedge crashed.

Microsoft Edge is updated in the meantime
Versie 88.0.705.68 (Officiële build) (64-bits)

retrying:
SAME result:
After click on `connect`  MSedge crashed.
(Typing this in MSedge, so let me save this comment)

[2021-02-12 15:48] laurensvalk commented on #14
Did it not crash before?

[2021-02-12 15:59] BertLindeman commented on #14
No crash before.

Now "did" Chrome Version 88.0.4324.150 (Official Build) (64-bit) and that went all **OKE** including reboot to install the new firmware.

Page was like this after install:
[code]

Will reboot PC and retry MSEDGE after that.

[2021-02-12 16:33] BertLindeman commented on #14
Problem in MSEDGE is **not** related to pybricks.
After a normal start of edge a close of a tab crashed also.

retry on msedge is good:
[code]

Console as screenprint:
![image](https://user-images.githubusercontent.com/8142081/107794939-5aa14480-6d58-11eb-9ada-b12e51f0410b.png)

[2021-02-12 16:34] laurensvalk commented on #14
That looks good. Thank you!

[2021-04-03 21:04] dlech opened #15 "AccessDenied error when trying to flash firmware to Technic hub from Windows"
I'm pretty sure this is a bug in the LEGO bootloader combined with the way the Windows Bluetooth stack works combined with the way Bleak works. So we might be able to work around this by fixing Bleak.

Running the command

[code]

gives

[code]

Windows Bluetooth capture.

[bth_hci.zip](https://github.com/pybricks/pybricksdev/files/6253374/bth_hci.zip)

In the Bluetooth capture, we can see that th

[2021-04-06 11:57] thesynman commented on #15
I've seen this error, but it went away after I rebooted Windows.

[2021-04-06 15:36] dlech commented on #15
Same here. So maybe the solution is to add a better error message when this happens to tell the user to try rebooting.

[2021-04-08 17:08] dlech commented on #12
Fixed in c3d79a1.

[2021-04-08 17:08] #12 closed

[2021-04-08 17:09] dlech commented on #3
REAMDE has been updated

[2021-04-08 17:09] #3 closed

[2021-04-08 17:14] dlech commented on #2
Flashing firmware on Windows works now.

[2021-04-08 17:14] #2 closed

[2021-04-09 10:02] laurensvalk opened #16 "Expected checksum"
On Ubuntu 20.04 and `('primehub', '3.0.0b4', 'a0856ec1 on 2021-04-09')`, I'm getting this:

[code]

It does run despite this.

This was working before.

[2021-04-09 15:14] dlech commented on #16
Is the program supposed to print something?

[2021-04-09 16:59] thesynman commented on #16
I'm seeing the same issue on Win10 with the latest pybricksdev and latest firmware. I get the occasional checksum error but the program seems to install OK.

[2021-04-09 17:56] laurensvalk commented on #16
Yes and no. No prints in this demo, but the "Running program..." seems to get gobbled up.

[2021-04-09 18:47] dlech commented on #16
Of course. (Why didn't I notice that. :smile:)

[2021-04-09 20:56] dlech commented on #16
Should be fixed now. Not 100% sure since I could rarely reproduce the problem.

[2021-04-10 07:04] thesynman commented on #16
@dlech Something seems to have gone seriously wrong with program output in the latest version of pybricksdev - I'm not seeing any!

With latest (34ac155fda24b86eaeda685104cb6651f2d66720):
[code]

With v1.0.0-alpha.1 (29b1bee32dc44bf85480781eff4e12b1245b712b):
[code]

[2021-04-10 07:27] thesynman commented on #16
Further to my last comment, I've discovered that a short wait after the print allows the program to execute correctly:
[code]

[2021-04-10 12:24] laurensvalk commented on #16
It's possible that the final program output hasn't been fully processed and printed by the time the "program-completed" signal comes in. Like you've found, a short delay should be good enough. I've just pushed something like it to the master branch.

We expect to revise this part of Bluetooth a bit more in the next release, so a workaround like this should be good for now.

[2021-04-13 19:11] dlech opened #17 "run command should pipe stdin to the hub"
Currently the `run` command pipes stdout from the hub to stdout of `pybricksdev`, but we need the other way around to work as well so that we can, for example, send CTRL+C to interupt a program.

[2021-05-15 00:00] dlech opened #19 "download and run to move hub fails on windows (and probably mac too)"
The move hub has MTU of 23, so we can only send 20 bytes at a time. However we are sending 100 bytes at a time.

This probably works on Linux since BlueZ will be smart and divide it up but other OSes don't do this.

To fix this, we need to be able to read the hub type and or MTU of the active bluetooth connection. The former is blocked by https://github.com/pybricks/pybricks-micropython/issues/49

[2021-05-15 00:57] #16 closed

[2021-05-15 01:00] dlech commented on #15
I got this again today. I had previously connected to the device in a web browser. Even though the device was no longer connected i the web browser, apparently, it still had a handle on it. After closing the web browser (all windows), I was able to use `pybricksdev` without restarting the computer.

[2021-05-15 01:00] #15 closed

[2021-05-15 01:05] dlech commented on #7
This is documented in the README now.

[2021-05-15 01:05] #7 closed

[2021-05-18 22:08] dlech commented on #8
This sounds like something that should be implemented in the `tools` directory of `pybricks-micropython` since it depends on that repository.

[2021-05-19 00:49] dlech commented on #11
Would also be nice to change the minimum version to 3.7 for Raspberry Pi: https://github.com/pybricks/support/issues/342

[2021-05-19 00:50] dlech commented on #11
Bleak should be ready for 3.9 in the next release, whenever that is (could be sooner than later).

[2021-05-19 07:07] #8 closed

[2021-06-26 19:10] dlech commented on #11
Fixed in https://github.com/pybricks/pybricksdev/releases/tag/v1.0.0-alpha.10

[2021-06-26 19:10] #11 closed

[2021-07-06 01:54] #19 closed

[2021-07-22 04:26] pqhf5kd opened #21 "Unable to Install macOS with M1 CPU"
macOS 11.4. python 3.9.6

I installed pipx through brew and then ran pipx ensurepath.

Then I tried to install pybricksdev:

`PIPX_DEFAULT_PYTHON=python3.8 pipx install pybricksdev`

`pipx.util.PipxError: Default python interpreter 'python3.8' is invalid.`

So I tried 3.9 because that's the version I have installed:

`PIPX_DEFAULT_PYTHON=python3.9 pipx install pybricksdev`

[code]

Then I tried:

[2021-07-22 04:32] pqhf5kd commented on #21
I tried specifying both 1.0.0a10 and 1.0.0a11

[code]

[code]

[2021-07-22 13:35] dlech commented on #21
Do you have a new M1 Mac by chance?

[2021-07-22 13:39] pqhf5kd commented on #21
I do

Sent from Jake Edmonds' iPhone

[2021-07-22 13:53] dlech commented on #21
That is why the mpy-cross package is not available.

Upstream issues:
- https://gitlab.com/alelec/mpy_cross/-/issues/10
- https://github.com/multiarch/crossbuild/issues/51

The first link is to the source repository for the mpy-cross package if you want to try to hack around it and build it yourself.

[2021-08-06 17:58] #14 closed

[2021-11-16 16:29] dlech opened #23 "Bluetooth does not work on macOS 12"
Apple broke Bluetooth on macOS 12, so it is currently not possible to make Bluetooth connections with `pybricksdev` on macOS 12. If you are running macOS 12, please file an issue with Apple using the Feedback Assistant. See https://github.com/hbldh/bleak/issues/635 for more details.

[2021-12-30 19:13] lobodpav opened #24 "USB connection to Mindstorms Inventor does not work on macOS"
Installed PyBricks on my Lego Mindstorms Inventor Hub using https://install.pybricks.com and tried to run an app on the hub.

The `pybricksdev` tool fails to find the hub. The https://code.pybricks.com works fine, though.

### Envionment
* macOS 12.1
* Python 3.9.9
* pybricksdev v1.0.0a19

### Replication steps
Execute `pybricksdev -d run usb --name "Pybricks Hub" test.py`.

An error is thrown:
[c

[2021-12-30 19:20] laurensvalk commented on #24
pybricksdev supports running programs via ble only, e.g:

[code]

It looks like we need to fix the `Readme` to reflect that. Thanks for poining this out.

[2021-12-30 19:24] lobodpav commented on #24
BLE connections do not work on macOS 12 😞

When changing the condition to

[code]

The connection via USB is successful.

[2021-12-30 19:25] laurensvalk commented on #24
It might connect, but I don't think we support downloading programs over USB at the moment.

[2021-12-30 19:26] laurensvalk commented on #24
@dlech might know more about this?

[2021-12-30 19:29] dlech commented on #24
Fix is in the works (have to do an upstream Bleak release first).

[2021-12-30 19:31] lobodpav commented on #24
Is there a way for me to patch this locally, or the fix is more than a one-liner? 😊

[2021-12-30 19:32] lobodpav commented on #24
@laurensvalk Would you mind telling me why running over USB is not supported? Just curious.

[2021-12-30 19:44] dlech commented on #24
You can install the bleak `develop` branch. `pip install https://github.com/hbldh/bleak/archive/refs/heads/develop.zip`.

[2021-12-30 19:46] laurensvalk commented on #24
We prioritize the hub features that are shared between all hubs (Move Hub, City Hub, Technic Hub, SPIKE Prime Hub, Essential Hub). Since all hubs have BLE, that's what we use.

In the near future, we'll probably use USB for charging only (and for the initial installation.)

We might add USB support for downloading programs, though probably only if there is strong demand or a good use case for it.

[2021-12-30 19:56] lobodpav commented on #24
@laurensvalk Thanks for explaining. Personally, I prefer BLE over USB just because it is easier to test moving models without a cable attached.

Anyway, rather than updating the `README`, would it make more sense to validate `pybricksdev` arguments and print an error when `run` and `usb` arguments are used together?

[2021-12-30 20:07] laurensvalk commented on #24
It would. In fact `usb` can just be dropped [from the options](https://github.com/pybricks/pybricksdev/blob/c6eb260d20d32522e67a778836b14016b83819aa/pybricksdev/cli/__init__.py#L131) since none of the hubs use it right now.

Would you want to make a pull request for it?

[2021-12-30 20:10] lobodpav commented on #24
@laurensvalk Will give it a try!

[2021-12-30 20:15] lobodpav commented on #24
@dlech Would you mind guiding me a bit?

Installed the `develop` branch and it told me that `The script bleak-lescan is installed in '/Users/pavel/Library/Python/3.8/bin'`.

When  run `pybricksdev run ble --name "Pybricks Hub" test.py`, I get:

[code]

Noticed that `bleak` is located under python `3.8` whereas the `pybricksdev` lies inside `python3.10`.

I'm very new to Python so that I am quite c

[2021-12-30 20:30] dlech commented on #24
The best way to handle Python packages is to use a virtual environment for each project you work on. We like to use [poetry](https://python-poetry.org) to do this. But this simplest way to do this is like this:

    cd my-project-dir
    python3 -m venv .venv  # create the virtual environment
    . .venv/bin/activate  # activate the virtual environment in the current shell
    python -m pip instal

[2021-12-30 20:36] lobodpav commented on #24
@dlech Thanks a lot for the instructions! Will have a look at that tomorrow, it is getting late here 😊

[2021-12-30 21:08] lobodpav commented on #24
@laurensvalk Created a PR: https://github.com/pybricks/pybricksdev/pull/25

Did not manage to execute the tool to try it out. Actually, I don't have an idea how to build the changed code locally and execute it 😞

[2021-12-30 21:09] laurensvalk commented on #24
Thanks! Looks like this particular issue is resolved, so I'll close this one.

[2021-12-30 21:09] #24 closed

[2021-12-30 22:31] lobodpav commented on #24
@laurensvalk Since my very limited Python experience did not allow me to build and execute the `pybricksdev` tool locally to verify my changes did not break anything, would you mind explaining that to me so that I could update the `CONTRIBUTING.md`?

[2021-12-30 22:46] dlech commented on #24
Did you install poetry? You should be able to `poetry run pybricksdev ...` to test the changes.

[2021-12-30 23:02] lobodpav commented on #24
Yes, I did. I got an error though:
[code]

[2021-12-30 23:11] dlech commented on #24
Did you run `poetry install` first?

[2021-12-30 23:12] lobodpav commented on #24
No, I did not. Thanks for the help, it works now!

[2021-12-31 01:02] lobodpav commented on #24
@dlech Tried to look into that

and hit two issues:
1. How to install the [devlop bleak](https://github.com/hbldh/bleak/archive/refs/heads/develop.zip) into Poetry's virtual env so `poetry run` would use the updated library?
2. If I got it right, users would have to provide a UUID in the `--name` argument. Or would that work with Hub Name too?

[2021-12-31 01:15] dlech commented on #24
poetry run pip install https://github.com/hbldh/bleak/archive/refs/heads/develop.zip

The service UUID depends on which firmware is running on the hub. There are constants already that can be used for this.

The service UUID for flashing firmware is: https://github.com/pybricks/pybricksdev/blob/c6eb260d20d32522e67a778836b14016b83819aa/pybricksdev/ble/lwp3/__init__.py#L41

And the service UUID for

[2021-12-31 07:28] lobodpav commented on #24
@dlech Thanks for all the help! I've now managed to get the discovery working so that `pybricksdev` finds the Hub and runs a program.

One scenario does not work though.
1. When using `Pybricks Hub` as a name, everything is fine.
2. When using `c5f50001-8280-46da-89f4-6d8051e4aeef` as a name (which I discovered using `nRF Connect`), the hub is not found. When debugging the code, the `device.addres

[2021-12-31 09:46] lobodpav commented on #24
I have found #23 recently. This is where all the communication should have happened 😞 Mentioning it here so these two get linked at least.

[2021-12-31 15:54] dlech commented on #24
This is not a name, it is a service UUID. So it makes sense that it wouldn't work as a name.

Apple does not provide the Bluetooth address (XX:XX:XX:XX:XX:XX) for security/privacy reasons and gives each device a random UUID instead. This is why we recommend using the device name instead of the address - it works everywhere and is easier to remember.

Try `pipx install ./pybricksdev-1.0.0a19.tar.gz

[2021-12-31 16:34] lobodpav commented on #24
OMG, such a dumb mistake of mine with the local package installation 🤦  The error message is so misleading.

Thanks for explaining the random UUIDs on Apple platforms. That makes much more sense now. Will issue a PR in a moment.

[2022-01-23 16:29] lobodpav opened #28 "Run command disconnects from HUB"
Having a simple application for learning PID control on an InventorHub's motor. Once I execute it, it prints out about 200 times and then stops. The program keeps on running on the hub, but the output is not printed into the terminal anymore.

About a 1 attempt out of 10 works well and the connection is not interrupted. Most of the time, however, it does not work.

### Environment
- InventorHub
-

[2022-01-23 16:58] laurensvalk commented on #28
Does this also happen with the same program when running from Pybricks Code?

In both cases, does a short wait in the loop make any difference?

[2022-01-23 17:48] lobodpav commented on #28
In Pybricks Code the problem does not occur at all.

When using `pybricsdev`, an added 100ms wait time into the while loop, the error rate decreased quite a bit. But still happens, approximately 2 times out of 10 attempts.

[2022-01-23 18:20] laurensvalk commented on #28
Great, thanks for this. That probably means that the firmware is OK this time. (Previously, we've had a similar issue, but that also occurred in Pybricks code).

Would you be able to try it out with an older version of pybricksdev?

I'm on mobile right now so I'm not sure exactly which version, but perhaps go a few weeks back to see if the recent update to the Bleak dependency has made any differe

[2022-01-23 19:04] lobodpav commented on #28
Good idea. Will try that out later today and report back.

[2022-01-24 19:46] lobodpav commented on #28
Is there a way to find out what causes the disconnections? I.e. debug logs (if these could be turned on), or may I even debug the tool somehow to find out the root cause?

[2022-01-25 01:38] dlech commented on #28
See https://github.com/pybricks/support/discussions/270. Logging Bluetooth packets is usually the only way to solve issues like this.

[2022-01-27 08:25] lobodpav commented on #28
Using the `PacketLogger.app` I have captured the BLE packets.

The weird thing is that there is no difference between manual program-stop initiated by me and when `pybricksdev` terminates on its own. Every time I see a disconnection like this:

<img width="1004" alt="Pybricksdev terminated connection" src="https://user-images.githubusercontent.com/1579300/151320272-95c0b2e1-4dfa-4408-8bf3-e5b07c0c

[2022-01-27 18:14] lobodpav commented on #28
Did not find a way to get rid of all the unrelated traffic. I can filter by the Hub MAC, but the export saves lots of the unrelated junk with it too 😞

[2022-01-28 08:39] lobodpav commented on #28
Here go the logs. I've managed to get as little noise as possible.

The way I've captured them:
1. Started the `PacketLogger`
2. Executed `pybricksdev run ble pid/derivative_control.py`
3. Waited till the `pybricksdev` stopped printing out info
4. Stopped the `PacketLogger`
5. Clicked the middle Hub's button to stop the running program
6. Saved the log file

[Inventor Hub - Pybricksdev disconnecti

[2022-01-28 16:19] dlech commented on #28
Thanks for that. We can see from the logs that the computer caused the disconnect.

![image](https://user-images.githubusercontent.com/963645/151582814-3a2b1f2a-3255-400e-918c-5c9bd08d2133.png)

So the next step would be to run `pybricksdev` with the `-d` option to enable debugging logging there to see if it is the one disconnecting or if the OS is doing it without us asking it to.

[2022-01-28 17:22] lobodpav commented on #28
[pybricksdev-debug.txt](https://github.com/pybricks/pybricksdev/files/7960615/pybricksdev-debug.txt)

[2022-01-28 17:43] dlech commented on #28
[code]

This tells us that `pybricksdev` told the device to disconnect. So I'm guessing that there is a bug with the `--wait` argument. What version of Python are you using?

[2022-01-28 17:45] lobodpav commented on #28
Python 3.10.1

[2022-01-28 17:52] dlech commented on #28
`pybricksdev run --help` will tell you. It should default to true, but if there is a bug and it doesn't, that could cause the disconnect.

[2022-01-28 17:53] dlech commented on #28
You could do something like this to debug:

[code]

[2022-01-28 17:54] lobodpav commented on #28
I see, that makes sense now. Will give it a try and report back.

[2022-01-28 18:11] dlech commented on #28
Here is another one to try:

[code]

[2022-01-28 18:12] dlech commented on #28
Or perhaps better...

[code]

[2022-01-28 18:17] lobodpav commented on #28
Did that one just a minute ago before you wrote 😆 Anyway, the `else` section was not reached.

However, `done.` was printed immediately and then the program ended.

If I change the sleep to `await asyncio.sleep(5)`, it prints `done.`, works well for 5 seconds and then terminates.

[2022-01-28 18:29] dlech commented on #28
I think I see what is happening now (I think this is why some people have very strong feeling against OOP - it is very difficult to keep objects in a consistent state).

There is a race condition where the program is finished loading but we receive a status notification (these are sent ever 500 ms in addition to when a status flag changes). The status notification indicates that the user program i

[2022-01-28 18:40] lobodpav commented on #28
How would not using OOP fix the problem? 😊 Race conditions are fixed using synchronized methods in the Java world.

The problem here is just that no one realised a race condition would happen. This is just a common bug I would say 😊

[2022-01-28 18:48] dlech commented on #28
For sequential actions that wait for events like this, it is much easier if all of the state is local to the function performing the action. When we have all of these separate methods that are trying to handle events differently based on a shared object state, it causes problems like this.

I certainly can't wrap my head around every possible state that `pybricks_service_handler()` could be called

[2022-01-28 18:54] lobodpav commented on #28
That makes sense. Wondering if I can help somehow.

Will try to fix that bug in some way over the weekend, but it might easily get very complicated as I'm not familiar with how the code was meant to work from different perspectives.

[2022-01-28 21:21] lobodpav commented on #28
After analysis, I finally got an understanding of how you meant the race condition. Making notes for myself once I get back to the issue tomorrow 😊

Two files involved:
1. `pybricksdev/cli/__init__.py`
2. `pybricksdev/connections.py`

What happens is:
1. A connection to the hub is established by calling `await hub.connect(device_or_address)`
    1. Apart from connection, the method also registers

[2022-01-28 21:41] dlech commented on #28
Not at all. 😄

One detail that may be overlooked: `user_program_stopped.clear()` is called after `loading = True`, so the `pybricks_service_handler()` callback that calls `user_program_stopped.set()` is happening after this.

I just had a new idea that might fix it.

[code]

This puts the `user_program_stopped.set()` trigger under the oneshot (only triggered when program running state changes) so

[2022-01-28 21:50] lobodpav commented on #28
True. Edited my comment to reflect that. First I thought there are 2 race conditions that may happen, but there is only one 😅

Will give your idea a thorough thought 😊 I think it deserves a bit more love. In particular, I don't like the back and forth state changes of `user_program_stopped`.

[2022-01-28 21:53] lobodpav commented on #28
Wondering, is there any reason why the `pybricks_service_handler` is registered after the connection is made?

Wouldn't it be better to register it after the user program is downloaded t the Hub?

[2022-01-28 21:59] dlech commented on #28
The hub status may be needed for other things and new event message types may be added in the future.

[2022-01-29 10:50] lobodpav commented on #28
This will work. Unfortunately I did not find any better solution. What I was thinking initially is to introduce a locking mechanism on the `loading` property.

I assume that there will always be a slight delay between the program loading being finished, and program being considered running. Which means that the `pybricks_service_handler` will often reach a state where the program was loaded but it

[2022-01-29 14:00] lobodpav opened #30 "Make the `run` command wait for Hub to get ready"
### Introduction
When fine-tuning programs and running them via `pybricksdev`, I often run the program several times per minute.
However, what happens to me frequently is that
1. the Hub is off (turns off itself after a certain inactivity period)
2. the Hub is running the old program when I forget to stop it by pressing the Hub's button

In both cases, the execution fails and I have to either turn

[2022-01-29 14:27] laurensvalk commented on #30
This would be nice. :+1:

However... if this were to become a direction we're going in, perhaps it would be time to pick up the old idea of making a proper Visual Studio Code extension (or something like it) to download and run programs and multi-file projects, and stay connected in between runs.

`pybricksdev` was originally (and probably still is) intended as a basic tool for pybricks developers

[2022-01-29 19:36] lobodpav commented on #30
Visual Studio plugin would be nice but then we're stuck with that single IDE.

I pretty much like `pybricksdev` because I can easily integrate it with IntelliJ which is my favorite IDE.

That's why I volunteer to improve `pybricksdev` 😊

[2022-02-27 19:31] lobodpav commented on #30
Giving the issue a second look, I have found the following:
1. Run a program
2. Turned the Hub on
3. The Hub is found successfully when calling `device_or_address = await find_device(args.name)`
4. The connection to the Hub is successful using `await hub.connect(device_or_address)`
5. The length of the compiled program is sent to the Hub using `await send_block(length)`
6. The device does not resp

[2022-02-27 20:38] dlech commented on #30
I added a similar delay in `cli/flash.py` because of the same problem. I don't think that the hub can actually known when it is ready though. I think the problem is that the Bluetooth stack on the computer is still probing the hub for a while and it causes the request to get dropped somewhere along the way. If the hub is able to connect via Bluetooth, then everything in the firmware that we wrote

[2022-02-27 21:53] lobodpav commented on #30
I can see the `await asyncio.sleep(1)` now in the `cli/flash.py`. Thanks!

It's weird though that the same issue does not happen when the Hub is on before executing `pybricksdev run`.

Since the Hub is ready when the connection is successful, I don't understand what is happening to the data sent. I'd like to fix this stuff properly without using `sleep`, but I haven't the foggiest idea what is goi

[2022-02-27 21:58] dlech commented on #30
Capturing Bluetooth packets to see what is actually going on is usually a good first step.

[2022-02-27 22:03] lobodpav commented on #30
Will give it a try. The problem I see is to be able to understand what all the packets mean 😊

[2022-02-27 22:03] dlech commented on #30
If you are using SPIKE/MINDSTORMS hub, then the issue could also be that BTStack is doing more in the background than the other Bluetooth drivers on other hubs and it needs a bit of delay before advertising on boot. Also, those hubs now have some blocking code for the external flash memory that could be interfering.

[2022-02-28 10:32] lobodpav commented on #30
Tried to log BLE packets for both scenarios - Hub turned on prior to running `pybricksdev`, and Hub turned on after running `pybricksdev`.

The results are the same for finding and connecting to the Hub.

### Two differences I've observed

1. Once `pybricksdev` tries to send program length (in my case `b'O\x02\x00\x00'`)
    1. Hub turned on prior to running `pybricksdev` received the correct `\x4

[2022-02-28 10:46] laurensvalk commented on #30
The blocking flash stuff on startup is a likely offender. To find out, try downgrading the firmware to [this one](https://github.com/pybricks/pybricks-micropython/commit/53ca295c4abe3d661e16ff04dad88a3f95ac8506) or something older. This commit is from just before merging the new flash code.

[2022-02-28 17:20] laurensvalk commented on #30
All of flash needs to be rewritten, not just that one in particular.

But if it’s choosing between waiting a second after boot versus no program being stored at all, I’d rather just wait a second for now. :)

[2022-02-28 19:30] lobodpav commented on #30
I don't know how this stuff works but wondering, @dlech mentioned that once the Hub is discoverable over BLE, it should be ready. So wondering if the flash init could be done before the Hub can be connected to, that would do the trick. But it might just be it's not possible this way.

As a workaround, I can add `1s` sleep into the `pybricksdev.cli.Run.run` method, the same way the `pybricksdev.cli

[2022-02-28 19:43] dlech commented on #30
Assuming that `pb_flash_init()` does not call any MicroPython code, we should be able to move it to `pbsys_process` before `pbsys_bluetooth_init()`.

[2022-02-28 20:02] dlech commented on #30
@lobodpav, can you please test https://github.com/pybricks/pybricks-micropython/commit/e8846409af0b1d82c3bd66a914ed181503a71438 when it is finished building?

[2022-03-01 09:42] lobodpav commented on #30
Tested it now. Something is wrong - after writing the firmware the 3x3 LED square keeps on flashing and the Hub's main button light is off.

An attempt to run a program ends with `RuntimeError: disconnected during operation`.

[2022-03-01 21:50] lobodpav commented on #30
### No charger attached
- Current: 59 mA
- Voltage: 7621 mV

### Hub connected to MacBook
- Current: 580 mA
- Voltage: 7666 mV

[2022-06-08 16:35] TheVinhLuong102 opened #32 "Error in installing pybricksdev in editable dev mode"
Installing `pybricksdev` using the editable development mode (`python3 -m pip install -e . --user`) returns the following problem:

[code]

[2022-06-08 16:40] dlech commented on #32
Poetry does not support installing in editable mode. However, just running `poetry shell` in the checked out repository works just the same for this particular repository.

[2022-06-21 04:31] johnscary-ev3 opened #34 "Pybricksdev changes for Remote Control based on Pybrickdev-Demo"

[2022-06-21 05:23] johnscary-ev3 commented on #34
I found that PybricksHub moved so this import works now but other calls still give errors as below.
Thanks.

`from pybricksdev.connections.pybricks import PybricksHub`

[code]

[2022-06-21 16:56] dlech commented on #34
How about something like this?

[code]

[2022-06-21 18:54] johnscary-ev3 commented on #34
Thanks so much for the help.
I can see from your example and reading the latest pybricksdev code that you have reworked how we get hub status now using the status queue to get status updates. Seems like a reasonable way to get different status codes.

On your example code, I tried to run it.
I don't get any errors, but it seems like it downloads and starts my robot code ok but then immediately dro

[2022-06-21 19:37] dlech commented on #34
I have tested my code on both Windows and Linux with the the following substitute for `robot_Blast.py`:

[code]

And it produces the following output when keys are pressed:
[code]

[2022-06-21 19:57] dlech commented on #34
It looks like there is a possible problem with the way waiting for a user program running works in `pybricksdev`. I just published v1.0.0-alpha.27 with an increased timeout that may help if this is the issue.

[2022-06-21 21:34] johnscary-ev3 commented on #34
I tried your short robot side program and it worked fine as you mentioned.

Then saw your post about update v1.0.0-alpha.27 so I updated to that and tried your PC side program with my larger robot side program, and it works fine now. So that timeout must have been the issue.
My robot program can take almost 60 seconds to download and start up. It is about 2600 lines of Python code.
Not sure how th

[2022-06-21 21:48] dlech commented on #34
:open_mouth:

That's pretty big.

[2022-08-07 19:06] NicoTheCode opened #36 "v1.0.0a29 run command not working"
Hi guys,

I am using an Intel Macbook and I installed v1.0.0a29. If I am trying to execute the "run" command pybricksdev connects to the robot and uploads the file but it does not execute.

I get the **error message "ValueError: incompatible .mpy file"**

However, downgrading to v1.0.0a28 fixes the issue.

Maybe, there is a bug in the newest revision.

[2022-08-07 19:09] laurensvalk commented on #36
Which firmware is installed on the hub?

To find out, run:

[code]

With the default settings, the latest pybricksdev requires the latest firmware as well. You can get the latest firmware via https://beta.pybricks.com/

[2022-08-07 19:21] NicoTheCode commented on #36
It's "v3.1.0-110-gfedf09ed on 2022-01-17"
I installed it using install.pybricks.com

Now I installed it with beta.pybricks.com and got "v3.2.0b3 on 2022-07-20".
And now it works with the newest pybricksdev version (v1.0.0a29)

Thank you for the fast support👍🏻
Btw I love the pybricks project!

[2022-08-07 19:21] #36 closed

[2022-08-07 19:23] laurensvalk commented on #36
Glad to hear it!

And thanks for asking. This is a good reminder that we should make install.pybricks.com automatically redirect to the new beta and eventually remove the subdomain altogether.

[2022-10-11 06:53] laurensvalk opened #40 "Data logging does not work"
A program such as one of the following used to produce local text files on the host, but this no longer works in the new protocol.

[code]

[code]

[2022-10-11 06:57] laurensvalk commented on #40
We could restore it in the near term, but maybe we can brainstorm a better/generic method to create and save data on the host.

Since Pybricks Code supports files too now, maybe we could allow the user to create files on the host.

[code]

[2022-10-11 15:45] #40 closed

[2022-11-11 20:19] dlech opened #43 "reboot in update mode no longer works on hubs with BLE bootloader"
The hub reboots but the regular firmware starts, not the bootlader.

Probably an issue with LTO, although we already added the `used` attribute in https://github.com/pybricks/pybricks-micropython/commit/b84ac3d91cbf6219f8b2431033e5a1a693ea090d to fix this before. Not sure what else could have changed in the meantime. Maybe changes to the linker script?

[2022-11-11 22:14] #43 closed